# TODO: create a reviewers team for the new repo
# and update following line with the new team name
# https://www.notion.so/uzufly/Adding-a-GitHub-repository-26cf188fe88e4717bf61df55eadf9ea1
* @uzufly/new-code-repo-reviewers
